.assortmen-composition {
    position: relative;
    display: inline-flex;

    &:hover {
        .assortmen-composition__list {
            left: 100%;
            opacity: 1;
        }
    } 
}

.assortmen-composition__list {
    position: absolute;
    top: 0px;
    left: rem(-9999px);
    opacity: 0;
    transition: opacity 0.3s;
    background: #d6d6d6;
    box-shadow: rem(4px) rem(4px) rem(40px) rgba(0, 0, 0, 0.06);
    border-radius: rem(4px);
    padding: rem(18px) rem(14px) rem(21px);
    min-width: rem(274px);
}

.assortmen-composition__buttom {
    background-color: #3A587E;
    border-radius: rem(4px);
    padding: rem(17px) rem(7px) rem(12px) rem(7px);
    display: inline-flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    min-width: rem(91px);

        @include tablets {
            display: none;
        }
}

.assortmen-composition__icon {
    width: rem(38px);
    height: rem(38px);
    margin-bottom: rem(7px);
}

.assortmen-composition__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(8px);
    padding: rem(10px) rem(12px);

    &:last-child {
        margin-bottom: 0;
    }
}

.assortmen-composition__parametr-icon {
    width: rem(32px);
    height: rem(32px);
    flex-shrink: 0;
    margin-right: 12px;
}

.assortmen-composition__title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.assortmen-composition__desc {
    flex-shrink: 0;
}

.assortmen-composition__text-params {
    flex-shrink: 0;
    margin-left: auto;
}