.benefits {
    display: flex;

        @include phones {
            flex-direction: column;
        }
}

.benefits__item {
    flex: 1;
    position: relative;

        @include phones {
            margin-bottom: rem(25px);
        }

    &:before {
        content: url("../../img/Combined\ shape\ 2204.png");
        position: absolute;
        top: rem(58px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }

            @include phones {
                display: none;
            }
    }
    

    &:first-child {
        padding-left: 4%;

        @include phones {
            padding: 0;
        }
    }

    &:last-child {
        padding-right: 4%;

        @include phones {
            padding: 0px;
            margin-bottom: 0;
        }

        &:before {
            display: none;
        }
    }
}