.header {
    margin-top: rem(24px);
    margin-bottom: rem(100px);

        @include tablets {
            margin-top: 0px;
            margin-bottom: rem(220px);
        }
}

.header-blue {

    @include tablets {
        background: #1968B1;
        height: rem(91px);
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hedader__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}