.preview-section {
    background: url("../../img/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.png") center top rem(0px) no-repeat;
    background-color:rgba(0,0,0,.5);
    color: #fff;
    background-size: cover;
    justify-content: space-between;
}