.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 rem(20px);

}

.reviews__display {
    background: #F8FAF9;
    padding: rem(42px) rem(142px) rem(42px) rem(42px);
    margin-bottom: rem(15px);

        @include tablets {
            padding: rem(50px) rem(0px) rem(50px) rem(0px);
        }
}

.reviews__display-inner {
    display: flex;

        @include tablets {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
}

.reviews__avatar {
    height: rem(264px);
    width: rem(252px);

        @include tablets {
            height: rem(130px);
            width: rem(130px);
        }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);
    padding: rem(23px) 0;
    position: relative;
    min-height: rem(265px);
}

.reviews__title {
    font-size: rem(27px);
    font-weight: 700;
    margin-bottom: rem(12px);
}

.reviews__list {
    position: relative;
    min-height: rem(275px);
    min-width: rem(690px);
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
    pointer-events: none;

        &.active {
            position: static;
            opacity: 1;
            pointer-events: unset;
        }
}

.reviews__text {
    color:#666666 ;
    margin-bottom: rem(28px);
    line-height: 1.2;
    max-width: rem(464px);
}

.reviews__author {
    font-weight: 500;
}

.reviews__switcher {
   display: flex;
}

